<article>
  <header>
      <span class="site-taxonomy">
        Noticias
      </span>

      <div class="h2">
        <a href="{{ url }}">{{ label }}</a>
      </h2>
      <span class="subtitle">Fuente: {{ content.field_fuente }}</span>
      <div class="flex-row article-author">
        <span>Por: {{ author_name }} - {{ date }} * Se lee en: <i class="icon fa fa-clock"></i> {{ content.read_time }}
        </span>
      </div>

  </header>

    <figure>
      <img src="{{ file_url(node.field_image.entity.fileuri) }}" alt="{{ node.title.0.value }}" title="{{ node.title.0.value }}"/>
    </figure>


  <footer>

  {{ content.body }}

 </footer>

</article>
